@keyframes scroll {
  0% { 
    transform: translateX(0); 
  }
	100% { 
    transform: translateX(calc(-160px * 7))
  }
}


.currency{
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.currency_container{
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
  perspective: 1000px;
}

.currency_title{
  font-size: 40px;
  color: var(--text-title);
  padding: 10px 0 10px 0;
  text-align: center;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-weight: 200;
}

.currency_button{
  width: 90%;
  max-height: 45px;
  align-self: center;
  background: var(--bg-color-green);
  border: none;
  border-radius: 6px;
  color: var(--text-white);
  font-size: 20px;
  padding: 10px;
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    Helvetica, sans-serif;
    cursor: pointer;
}

.currency_items{
  width: calc(218px * 14);
  display: flex;
  justify-content: space-between;
  gap: 50px;
  animation: scroll 35s linear infinite;
}

.currency_button{
  width: 60%;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, "sans-serif";
  font-size: 20px;
  color: var(--text-white);
  background: var(--bg-color-green);
}

.currency_image{
  width: 118px;
  height: auto;
}

.currency_footer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.currency_footer_link {
 text-decoration: none;
}

.currency_footer_link:hover {
  text-decoration: underline;
 }