.hero {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-hero) no-repeat center/cover;
}
  
.video {
    width: 100%;
    max-width: 939px;
    height: 100%;
    object-fit: cover;
    border: 4px solid var(--text-white);
    border-radius: 3px;
}
  

.content-container {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px; 
}

.title {
    font-size: clamp(30px, 4vw, 55px);
    color: var(--text-white);
    margin: 0;
    text-align: center;
}

.subtitle {
    font-size: clamp(20px, 1.5vw, 30px);
    color: var(--text-white);
    text-align: center;
}

.yellow-text {
    color: var(--text-yellow);
}