@media (max-width: 1140px) {
    .hero_container {
        padding: 20px;
    }
}

@media (max-width: 990px) {
    .hero_container {
      width: 80%;
      min-width: 540px;
      flex-direction: column;
      align-items: center;
      padding: 20px 0;
    }
}

@media (max-width: 580px) {
    .hero_container {
      width: calc(100% - 10px);
      min-width: 0;
    }
}

