.card {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--text-purple);
    border-bottom: solid 8px var(--text-purple-light);
    border-radius: 8px;
}

.img-icon-card {
    max-width: 124px;
}

.title-card {
    color: var(--text-white);
    font-size: 18px;
    text-align: center;
}

.content-card {
    color: var(--text-white);
    font-size: 16px;
    text-align: center;
}