@media screen and (max-width: 768px) {
    .faq-element {
        height: auto !important;
        max-width: 100% !important;
        padding: 20px !important;
        position: relative !important;
        width: 100% !important;
    }
    .faq-element .faq-content {
        text-align: center !important;
    }
    .faq-element .faq-content:before {
        font-size: 14px !important;
        height: 40px !important;
        left: 50% !important;
        top: -20px !important;
        -webkit-transform: translateX(-50%) !important;
        transform: translateX(-50%) !important;
        width: 40px !important;
    }
    .faq-element .faq-content h3 {
        font-size: 18px !important;
        font-weight: 800 !important;
        line-height: 1.2 !important;
        margin-bottom: 15px !important;
    }
    .faq-element .faq-content p {
        font-size: 16px !important;
        font-weight: 400 !important;
        line-height: 23px !important;
    }
}
@media screen and (max-width: 635px) {
    .faq-element .faq-content {
        padding: 40px 20px !important;
    }
}


